/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --font-weight-title: 700;
  --font-weight-text: 400;

  --color-primary: #ffffff;
  --color-accent: #000000;
  --color-secondary: #ffffff;
  --color-heart: #ff0000;
  --color-heart-contour: var(--color-accent);
  --color-heart-sparks: var(--color-heart);
  --color-heart-body: var(--color-accent);
  --color-heart-core: var(--color-heart);

  --gradient-light: #e7e7e7;
  --gradient-dark: #1a1a1a;
  --grid-line-color: #d3d3d3;

  --background-pattern: repeating-linear-gradient(
      0deg,
      var(--grid-line-color),
      var(--grid-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color),
      var(--grid-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, var(--gradient-light) 0%, var(--gradient-dark) 100%);
}

:root.theme-dark {
  --font-weight-title: 785;
  --font-weight-text: 465;

  --color-primary: #000000;
  --color-accent: #00cc14;
  --color-secondary: var(--color-accent);
  --color-heart: #ff0000;
  --color-heart-contour: var(--color-accent);
  --color-heart-sparks: var(--color-heart);
  --color-heart-body: var(--color-accent);
  --color-heart-core: var(--color-accent);

  --gradient-light: #007f0c;
  --gradient-dark: #004306;
  --grid-line-color: #000;

  --background-pattern: repeating-linear-gradient(
      0deg,
      var(--grid-line-color),
      var(--grid-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color),
      var(--grid-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, var(--gradient-light) 0%, var(--gradient-dark) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-title: 785;
    --font-weight-text: 465;

    --color-primary: #000000;
    --color-accent: #00cc14;
    --color-secondary: var(--color-accent);
    --color-heart: #ff0000;
    --color-heart-contour: var(--color-accent);
    --color-heart-sparks: var(--color-heart);
    --color-heart-body: var(--color-accent);
    --color-heart-core: var(--color-accent);

    --gradient-light: #007f0c;
    --gradient-dark: #004306;
    --grid-line-color: #000;

    --background-pattern: repeating-linear-gradient(
        0deg,
        var(--grid-line-color),
        var(--grid-line-color) 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        var(--grid-line-color),
        var(--grid-line-color) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        180deg,
        var(--gradient-light) 0%,
        var(--gradient-dark) 100%
      );
  }
}
