/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Fonts */
  --font-primary: "Inter", sans-serif;
  --font-accent: "PressStart2P", monospace;
  --font-weight-title: 700;
  --font-weight-text: 400;
  --text-size-s: 0.875rem;
  --text-size-m: 1.125rem;
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  /* Indentation */
  --header-margin: 100px auto;
  --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 14px 25px;
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --section-title-spacing: 3px clamp(0.625rem, 0.3169rem + 1.3146vw, 1.5rem)
    clamp(0.375rem, 0.441rem + -0.2817vw, 0.1875rem) 10px;

  /* Colors */
  --color-primary: #ffffff;
  --color-accent: #000000;
  --color-secondary: #ffffff;
  --color-heart: #ff0000;
  --color-heart-contour: var(--color-accent);
  --color-heart-sparks: var(--color-heart);
  --color-heart-body: var(--color-accent);
  --color-heart-core: var(--color-heart);

  /* Text shadows */
  --text-shadow-stroke: 1px 1px 0 var(--color-accent),
    -1px 1px 0 var(--color-accent), 1px -1px 0 var(--color-accent),
    -1px -1px 0 var(--color-accent);

  /* Gradients */
  --gradient-light: #e7e7e7;
  --gradient-dark: #1a1a1a;
  --grid-line-color: #d3d3d3;

  --background-pattern: repeating-linear-gradient(
      0deg,
      var(--grid-line-color),
      var(--grid-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color),
      var(--grid-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, var(--gradient-light) 0%, var(--gradient-dark) 100%);
}
